<div class="d-flex justify-content-center md-3">
  <h2>フォロワー</h2>
</div>

  <% if @users.exists? %>
    <%= render'public/users/index', users: @users %>
  <% else %>
   <div class="d-flex justify-content-center">
     <p>ユーザーはいません</p>
   </div>
  <% end %> 
