<div class="d-flex justify-content-center">
    <h1>ようこそ！</h1>
</div>

<div class="d-flex justify-content-center mt-5">
  <h1>ここではきれいな景色や花を投稿して</h1>
  
</div>

<div class="d-flex justify-content-center">
  <h1>旅の思い出を記録しましょう！</h1>
</div>