<div class="d-flex justify-content-center md-3">
  <h3>お気に入り一覧</h3>
</div>

<table class="table table-striped">
    <thead>
      <tr>
        <th>ユーザー画像</th>
        <th>投稿画像</th>
        <th>説明</th>
      </tr>
    </thead>
    
    <tbody>
    <% current_user.favorites.each do |favorite| %>
  　　<% if favorite.user && favorite.post %>
        <tr>
          <td>
            <%= image_tag favorite.post.user.get_profile_image(100, 100) %>
          </td>
          <td>
            <%= image_tag favorite.post.get_image(100, 1000) %>
          </td>
          <td>
            <%= favorite.post.body %>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
</table>

